<div class="w3-top  nav-blazor">
    <div class="container-fluid">
        <div class="w3-right w3-text-white">
            <NavLink class="w3-bar-item w3-button nav-hover text-center" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home w3-xlarge"></i>
                <span class="menu-item">Inicio</span>
            </NavLink>

            <NavLink class="w3-bar-item w3-button nav-hover text-center" href="gallery" Match="NavLinkMatch.All">
                <i class="fas fa-video w3-xlarge"></i>
                <span class="menu-item">Galleria</span>
            </NavLink>

            <NavLink class="w3-bar-item w3-button nav-hover text-center" href="favorites" Match="NavLinkMatch.All">
                <i class="fas fa-heart w3-xlarge"></i>
                <span class="menu-item">Favoritos</span>
            </NavLink>
        </div>
    </div>
</div>