@page "/video"
@page "/video/{id}"

<h3>Video</h3>

@if (VideoEdit is null)
{
    <p>Cargando...</p>
}
else
{
<EditForm Model="VideoEdit" OnValidSubmit="Guardar" class="form-group">
    <InputText class="form-control" placeholder="Url" @bind-Value="VideoEdit.Url" />
    <InputText class="form-control" placeholder="Conferenciante" @bind-Value="VideoEdit.Conferencer" />
    <VideoEditor VideoEdit="VideoEdit" />
    <button class="btn btn-primary">Guardar</button>
    <button class="btn btn-secondary" type="button" @onclick="Cancel">Cancelar</button>
</EditForm>
}