
    <div class="container-fluid text-center w3-text-white footer">        
        <div class="row">
            <div class="col">
                <span class="title-patrocinadopor">Patrocinado por:</span><br>
                <div class="row align-items-center">            
                    <div class="col text-right">                
                        <div data-blazor="fade-down-right" blazoranimate="aos-animate">            
                            <a href="http://dotnetpuebla.com" target="_blank"><img src="images/DotNetPueblaRed.png"></a>
                        </div>
                    </div>
                    <div class="col text-left">                
                        <div data-blazor="fade-down-left" blazoranimate="aos-animate">
                            <a href="https://ticapacitacion.com" target="_blank"><img src="images/ti85x85.png"></a>
                        </div>
                    </div>
                </div>
			</div>
            <div class="col">
                <span class="title-patrocinadopor">Colaboradores:</span><br>
                <div class="row align-items-center">            
                    <div class="col text-right">                
                        <div data-blazor="fade-down-left" blazoranimate="aos-animate">            
                            <a href="https://aprende-a-programar.com" target="_blank">
                                <img src="/images/drualcman.png">
                            </a>
                        </div>
                    </div>
                </div>

			</div>
		</div>
    </div>