@inherits LayoutComponentBase
@inject FavoritesContext FavContext

    <NavMenu />

    <div class="main">
        <div class="container" id="home">
            @Body
        </div>
    </div>

    <Footer />
