@page "/gallery"

<div>
    <a class="btn btn-info" href="/video">Agregar Video</a>

    @if (ListaReproduccion is null)
    {
<div class="loading-dot">
    <img src="images/CubeBlazorVine500.png" alt="loading" />
</div>
    }
    else
    {
        foreach (PlayList item in ListaReproduccion)
        {
            <div class="row">
                <div class="col">
                    <h3>@item.Title</h3>
                    <p>@item.Description</p>
                </div>
                <div class="col-3">                    
                    <a class="btn btn-success" href="play/@item.Id"><i class="far fa-play-circle"></i></a>
                    <button type="button" class="btn btn-info" @onclick="() => SetFav(item.Id)">
                        @if (IsFavorite(item.Id))
                        {
                            <i class="fas fa-heart"></i>
                        }
                        else
                        {
                            <i class="far fa-heart"></i>
                        }
                    </button>
                    <button type="button" class="btn btn-warning" @onclick="() => EditVideo(item.Id)"><i class="far fa-edit"></i></button>
                    <button type="button" class="btn btn-danger" @onclick="() => DeleteVideo(item.Id)"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
        }
    }
</div>

