@page "/"


@if (ShowVideo)
{
    <YoutubePlayer PlayerId="player" VideoId="@Playing" @ref="Reproductor" />
    <button class="btn btn-warning" type="button" @onclick="Cerrar">Cerrar</button>
}
else
{
    <div>
        <a class="btn btn-info" href="/video">Agregar Video</a>
        
        @if (ListaReproduccion is null)
        {
            <p>Cargando...</p>
        }
        else
        {
            foreach (PlayList item in ListaReproduccion)
            {
                <div class="row">
                    <div class="col">
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-warning" type="button" @onclick="() => PlayVideo(item.Id)">Reproducir</button>
                        <button type="button" class="btn btn-warning" @onclick="() => EditVideo(item.Id)">Editar</button>
                        <button type="button" class="btn btn-danger" @onclick="() => DeleteVideo(item.Id)">Eliminar</button>
                    </div>
                </div>
            }
        }
    </div>

}